*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  align-items: center;
}

#main {
  height: 100%;

  text-align: center;

  margin-top: 80px;
}

#hero {
  width: 626px;
  margin: 0 auto 32px;
}

#hero img {
  margin-bottom: 72px;
}

h1 {
  color: #3f3d56;
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
  color: #ee24ff;
}

span {
  color: #3f3d56;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

#footer {
  margin-bottom: 50px;
}

#footer a + a {
  margin-left: 28px;
}

#footer a {
  color: #3f3d56;
  font-weight: bold;
}

#line {
  width: 568px;
  height: 0px;
  border: 1px solid #eceff2;
  margin: 0 auto 20px;
}

#wave {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
}

#call-to-action {
  margin: 32px 0 64px 0;
  width: 626px;
}
